{% block nav %}
    <!-- ##### Preloader ##### -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="circle-preloader">
            <img src="static/img/core-img/preloader.gif" alt="">
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="musica-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container-fluid">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="musicaNav">

                        <!-- Nav brand -->
                        <a href="/" class="nav-brand"><img src="static/img/core-img/logo.gif" alt=""></a>

                        <!-- Navbar Toggler --> 
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="{{url_for('index')}}">Home</a></li>
                                    <li><a href="{{url_for('login')}}">Login </a> </li>
                                    <li><a href="{{url_for('signup')}}"> Sign up </a> </li> 
                                    <li><a href="{{url_for('events')}}">Events</a></li>
                                    <li><a href="{{url_for('team')}}">Meet the team</a></li>
                                    <li><a href="{{url_for('contact')}}">Contact</a></li>
                                </ul>

                                <!-- Social Button -->
                                <div class="top-social-info">
                                    <a href="https://www.facebook.com/Raiderhacks"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="https://twitter.com/raiderhacks"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="https://www.instagram.com/raiderhacks/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </div>

                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

{% endblock %}